body{
    background-color: #454549;
    color: rgb(238, 238, 238);
}

.HeaderDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
}

/* li{
    list-style: none;
} */

a{
    text-decoration: none;
    color: inherit;
}

.ProjectItem{
    margin: 1rem;
    font-size: 1.5rem;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Links{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 3rem;
}

.ImageDiv{
    margin-left: 2rem;
    margin-top: 1rem;
}

.LinksList{
    display: flex;
    list-style: none;
}

.LinksList li{
    margin: 1rem;
}

.CompanyTitle{
    font-size: 3rem;
    font-weight: bold;
    font-family: Tahoma;
}

.UnderTitle{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.TextBox{
    margin-left: 15vw;
    margin-right: 15vw;
    line-height: 2;
    font-weight: bold;
}

.HomeImage{
    width: 100%;
    height: 30vw;
    object-fit: cover;
    margin-top: 3rem;
}

.LogoImage{
    max-width: 40%;
    max-height: 40%;
}

header{
    background-color: #454549;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 20px;
}

footer{
    background-color: #343434;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CenterItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterItem{
    margin: 0.5rem;
}
